# Ignore special project folders and files
.github/

# Ignore archives
archive/

# Ignore testing folders
# None at this time

# Ignore log folders
# None at this time

# Ignore supporting scripts
scripts/sync_to_onedrive.ps1